@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html {
    font-size: 62.5%;
}

body {
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem /* 40px */;
}

/* loggin form */
#loggin-form::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px); /* Cho các trình duyệt hỗ trợ */
    -webkit-backdrop-filter: blur(10px); /* Cho Safari 9+ và Safari trên iOS 9+ */
    z-index: -1;
}

/* alert */
#alert::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(2px); /* Cho các trình duyệt hỗ trợ */
    -webkit-backdrop-filter: blur(2px); /* Cho Safari 9+ và Safari trên iOS 9+ */
    z-index: -1;
}

.active-tab {
    border-radius: 5px;
    background-color: #52525b;
}
.active-list {
    display: none;
}
.heading {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 2.25rem /* 36px */;
    font-weight: 600;
}
.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.original-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.slider {
    width: 100%;
    height: 93%;
    position: relative;
    overflow: hidden;
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.hot-movie .list-movie {
    transition: 1s;
}
.slider .list img {
    width: 100vw;
    height: 100%;
}
.item {
    position: relative;
}

.item::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 2;
}

.item .content {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}
.item .content .title,
.item .content .des {
    color: #fff;
    padding: 10px 0;
    z-index: 3;
}

.item .content .title h1 {
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.item .content .des p {
    position: absolute;
    bottom: 12%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.slider .buttons {
    position: absolute;
    top: 40%;
    left: 6%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}
.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    z-index: 3;
}
.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active {
    width: 30px;
}

/* list-movie */
.list-movie {
    &:hover .item-movie {
        opacity: 0.5;
    }
    .item-movie {
        &:hover {
            opacity: 1;
        }
    }
}
.item-movie {
    scroll-snap-align: start;
}
.trending-list-items {
    &:hover .trending-item {
        opacity: 0.5;
    }
    .trending-item {
        &:hover {
            opacity: 1;
        }
    }
}
.backgound-poster-movie {
    height: calc(0.7 * (100vw) * (720 / 1280));
}
.hot-movie {
    scroll-behavior: smooth;
    scroll-snap-type: both;
}
.hot-movie::-webkit-scrollbar {
    display: none;
}
/* movie */
.backgound-poster-movie::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 100%;
    pointer-events: none;
}
/* add movie */
.loading {
    content: '';
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #18181b;
}
/* dang nhap */
.form-input {
    position: relative;
}

.form-group label {
    position: absolute;
    top: 40%;
    left: 5%;
    pointer-events: none;
    transform: translateY(-50%);
    padding: 0 5px;
    opacity: 0.85;
    background: #000;
    transition: top 0.3s, font-size 0.3s, color 0.3s; /* Thêm transition */
}

.form-input input:focus + label,
.form-input input:valid + label {
    top: 0;
    padding: 0 5px;
    font-size: 12px;
    color: #fff;
    opacity: 1;
}

/* dang ky */
.register_form div {
    margin-bottom: 20px;
    width: 25rem;
}
.register_form div:last-child {
    margin-bottom: 0;
}
.register_form input {
    background-color: transparent;
    border: 1px solid #fafafa;
    margin-top: 5px;
    padding: 10px;
}
@media screen and (min-width: 1536px) {
    .item::before {
        box-shadow: 10px 10px 50px 65px #18181b inset, -10px -10px 20px 50px #18181b inset;
    }
    .backgound-poster-movie::before {
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%);
        box-shadow: 10px -20px 50px 50px #18181b inset;
    }
    .item-movie {
        width: calc(16.666666vw - 25px);
    }
    .register_form div {
        width: 30rem;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1536px) {
    .item::before {
        box-shadow: 10px 10px 50px 65px #18181b inset, -10px -10px 20px 50px #18181b inset;
    }
    .backgound-poster-movie::before {
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%);
        box-shadow: 10px -20px 50px 50px #18181b inset;
    }
    .item-movie {
        width: calc(20vw - 25px);
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .item::before {
        box-shadow: 10px 10px 50px 65px #18181b inset, -10px -10px 20px 50px #18181b inset;
    }
    .backgound-poster-movie::before {
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%);
        box-shadow: 10px -20px 50px 50px #18181b inset;
    }
    .item-movie {
        width: calc(25vw - 25px);
    }
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
    .item::before {
        box-shadow: 5px 5px 150px 60px #18181b inset, -5px -5px 50px 50px #18181b inset;
    }
    .backgound-poster-movie::before {
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%);
        box-shadow: 10px -20px 50px 50px #18181b inset;
    }
    .item-movie {
        width: calc(33.333333vw - 25px);
    }
}
@media screen and (max-width: 640px) {
    .item-movie {
        width: calc(50vw - 15px);
    }
    .backgound-poster-movie {
        height: calc(100vw * (720 / 1280));
    }
    .backgound-poster-movie::before {
        width: 70%;
        background: linear-gradient(to right, #18181b, rgba(0, 0, 0, 0) 60%);
        box-shadow: 10px -20px 50px 50px #18181b inset;
    }
}

.alert-message {
    font-size: 12px;
    color: #000;
}

.success {
    border-top: 6px solid #86efac;
    background-color: #dcfce7;
}

.error {
    border-top: 4px solid #fca5a5;
    background-color: #fee2e2;
}
